body {
    background-image: url(pay.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

h1 {

    text-align: center;
    color: white;
    font-size: 100px;
    margin-top: 20%;
}

p {

    text-align: center;
    color: white;
    font-size: 50px;
    margin-top: 3%;
}